@use './typography' as *;
@use './variables' as *;
@use './mixins' as *;

body {
    font-family: 'source-sans';
    font-size: 11px;
    font-weight: normal;
    padding: 0 16px;
    margin: 0;
}
p {
    margin: 8px 0;
}