@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.home-page{
    padding: 0 24px;
    display: flex;
    align-items: center;
    flex-direction: column;
    
    @include tablet {
        padding: 0 36px;
    }

    &__refresh-button {
        margin: 16px 0;
        align-self: flex-start;
    }
}